// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
//@import '../../../../themes/contrib/bootstrap5/scss/style';

#print{
  font-family: "Times New Roman", Times, serif;
  width: 207mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 0 2em 0 3em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  .table{
    th{
      border: 1px solid #000;
      .placeholder {
        opacity: 1;
      }
    }
    td {
      border: 1px solid #000;
    }
  }
  .test-quality-content{
    .table{
      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(2){
        text-align: center;
      }
    }
  }
  .send_to_partner{
    .paragraph--type--recipient-participation.paragraph--view-mode--preview{
      .field--item:before{
        content : "- ";
      }
      .field--item{
        display: inline;
      }
    }
  }
  .cover-print{
    display: block!important;
    height: 1108px;
  }
  .table-m-0{
    table {
      margin-bottom: 0;
    }
  }
  .ulTypeBrick {
    list-style-type: "- ";
  }
  .partners-ul {
    ul {
      display: block;
      list-style: none;
      width: 100%;
    }
  }
  .partners-li {
    ul {
      display: inline-table !important;
      margin-top: 50px !important;
    }
  }
  .table-left{
    width: 35%;
  }
  .table-right{
    width: 65%;
  }
  .table-h1{
    height: 350px;
  }
  .table-tfoot{
    height: 940px;
  }
  .partners-ul {
    ul {
      li {
        width: 45%;
        height: 150px;
        text-align: center;
        display: inline-block;
      }
    }
  }
  .field--name-field-associate-delegate {
    .table {
      td ,th{
        width: auto;
        border: none;
        padding: 0.2em;
      }
      .field--label-inline {
        .field__label:after {
          content: ":";
        }
      }
      tr {
        td:nth-child(2) {
          width: 250px;
        }
      }
    }
  }
}
.form-inline {
  input[type="date"] {
    width: auto;
  }
}
.tableBorder5 {
  div {
    width: 20%;
    border: 1px solid #000;
  }
}
.paragraph--type--associate{
  .field--name-field-associate-company{
    font-weight: bold;
  }
}

.a3{
  width: 1191px!important;
  height: 842pximportant;
}

.a3 {
  .mx-auto {
    margin-left: 0px !important;
  }
}
.synthetic_pile{
    text-align: center;
}
