@media print {
  * {
    font-family: "Times New Roman", Times, serif;
  }

  .breakpage {
    page-break-after: always;
  }

  #toolbar-administration {
    display: none;
    height: 0;
  }
}

#print {
  font-family: "Times New Roman", Times, serif;
  width: 207mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 0 1em 0 3em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

#print .table th .placeholder {
  opacity: 1;
}

#print .table th,
#print .table td {
  border: 1px solid #000;
}

#print .test-quality-content .table th:nth-child(3),
#print .test-quality-content .table th:nth-child(4),
#print .test-quality-files .table th:nth-child(2) {
  width: 15%;
  text-align: center;
}

#print .test-quality-content .table td:nth-child(3),
#print .test-quality-content .table td:nth-child(4),
#print .test-quality-files .table td:nth-child(2) {
  text-align: center;
}

#print .send_to_partner .paragraph--type--recipient-participation.paragraph--view-mode--preview .field--item:before {
  content: "- ";
}

#print .send_to_partner .paragraph--type--recipient-participation.paragraph--view-mode--preview .field--item {
  display: inline;
}

#print .cover-print {
  display: block !important;
  height: 1108px;
}

#print .table-m-0 table {
  margin-bottom: 0;
}

.form-inline input[type="date"] {
  width: auto;
}

#print .ulTypeBrick {
  list-style-type: "- ";
}

#print .partners-ul ul {
  display: block;
  list-style: none;
  width: 100%;
}

#print .partners-li ul {
  display: inline-table !important;
  margin-top: 50px !important;
}

#print .table-left {
  width: 35%;
}

#print .table-right {
  width: 65%;
}

#print .table-h1 {
  height: 350px;
}

#print .table-tfoot {
  height: 940px;
}

#print .partners-ul ul li {
  width: 45%;
  height: 150px;
  text-align: center;
  display: inline-block;

}

.tableBorder5 > div {
  width: 20%;
  border: 1px solid #000;
}

.paragraph--type--associate .field--name-field-associate-company {
  font-weight: bold;
}

#print .field--name-field-associate-delegate .table td,
.field--name-field-associate-delegate .table {
  width: auto;
  border: none;
  padding: 0.2em;
}

.field--name-field-associate-delegate .table .field--label-inline .field__label:after {
  content: ":";
}

#print .field--name-field-associate-delegate .table tr td:nth-child(2) {
  width: 250px;
}

.a3 {
  width: 1191px !important;
  height: 842px !important;
}

.a3 .mx-auto {
  margin-left: 0px !important;
}

.breadcrumbs{
  height: 180px;
  background: linear-gradient(90deg, rgba(0, 95, 255, 0.7) 0%, rgba(2, 106, 75, 0.7) 100%),
  url(../img/breadcrumbs.png);
}
.mt-n1 {
  margin-top: -0.25rem !important;
}
.mt-n2 {
  margin-top: -0.5rem !important;
}
.mt-n3 {
  margin-top: -1rem !important;
}
.mt-n4 {
  margin-top: -1.5rem !important;
}
.mt-n5 {
  margin-top: -3rem !important;
}
